{% extends 'mailing/base.html' %}

{% block title %}Статистика{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Данные по попыткам рассылки</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Название рассылки</th>
      <th scope="col">Статус</th>
      <th scope="col">email получателя</th>
      <th scope="col">Ответ сервера</th>
    </tr>
  </thead>
  {% for attempt in attempts%}
  <tbody>
    <tr>
      <th>{{ attempt.newsletter.name }}</th>
      <td>{{ attempt.get_status_display }}</td>
      <td>{{ attempt.email_recipient }}</td>
      <td>{{ attempt.mail_response }}</td>
    </tr>
    </tbody>
  {% endfor %}
</table>


{% endblock %}