{% extends 'mailing/home.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
<p>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'mailing:message_create' %}">Добавить новое сообщение</a>
</div>
</p>
<h2>Список сообщений</h2>
<ul class="list-group">
    {% for message in messages %}
        <li class="list-group-item">
            <a href="{% url 'mailing:message_detail' message.pk %}">{{ message.subject_letter }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
